<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button [routerLink]="['/']">ir atras</ion-button>
  <div (click)="loadingEvent($event)">
    <ion-button [id]="id">
      chats
    </ion-button>
  </div>
  <div (click)="loadingEvent2($event)">
    <ion-button [id]="id">
      chats2
    </ion-button>
  </div>
  <div (click)="loadingEvent3($event)">
    <ion-button [id]="id">
      chats3
    </ion-button>
  </div>

  <br />
    <div *ngIf="show">
      <ion-spinner class="spinner-loading" ></ion-spinner>
    </div>
</ion-content>
